body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.play-button {
  display: block;
  position: fixed;
  right: 2%;
  bottom: 6%;
  padding: 1vw 5vw;
  border: 1px solid white;
  background: black;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

.play-button:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.play-button:focus {
  outline: none;
}
